@model TireLire.Models.Catégorie

@{
    ViewBag.Title = "Creat.Catégorie";
}

@using (Html.BeginForm("Create", "Categorie", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Ajout d'une Catégorie</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.ImageCat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" id="fichier" name="fichier" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nom_Catégorie, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nom_Catégorie, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nom_Catégorie, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { placeholder = "Description", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Statut, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Statut, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Statut, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Créer" class="btn btn-outline-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Retour au listing des catégories", "Index", "", new { style = "color:darkgreen;", @class="text-decoration-none" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
