@model IEnumerable<TireLire.Models.Commande>

@{
    ViewBag.Title = "ListerCommandes";
}

<h4 class="text-center">Mes Commandes</h4><br />

<div class="container table-responsive-lg">
    <table class="table table-bordered ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Commande)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Commande)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.ActionLink("Details", "DetailCommande", new { id = item.IdCommande }, new { @class="text-decoration-none"}) |
                </td>
            </tr>
        }

    </table>
</div>
